@media screen and (min-width: 640px) {
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
   		width: 915px;
      	height: 600px;
      	margin: auto;
	}
}
@media screen and (max-width: 640px) {
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
      	height: auto;
      	margin: auto;
	}
}
.fa{
	cursor: pointer;
}

.overlay,.front,.back{
    position: absolute;
    top:0;
    left:0;
    min-height: 100vh;
    width:100%;
    background-position: fixed;
    background-size: cover;
}
.overlay{

    z-index: -1;
    background: rgba(0,0,0,.7);
}
.front{
    z-index: -2;
    background-image: url('../img/c.jpg');
}

.logohead{
    position: relative;
	margin: 0px;
    padding: 15% 0px 10px;

}

/* loading bar */

#loading {
    position:absolute;
    width:300px;
    top:50px;
    left:50%;
    margin-left:-150px;
    text-align:center;
    padding: 10px;
    font:bold 11px Arial, Helvetica, sans-serif;
    background: #222222;
    color: #ffffff;
    z-index: 99;
}

#contact{
	background: #FEFF99;
	font-family: 'ubuntu';
}

header{
    background: none;
    font-family: 'ubuntu';
    color: #F05F40;
}
header h1{
    margin:0;
    padding: 0;
    /*line-height: 100vh;*/
    padding-top: 0%;
    padding-bottom: 10px;
    font-family: 'ubuntu';
    color: #F05F40;
}

/******Speakers page***/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	width: 90%;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;

}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*-----------------*/
/***** Hera *****/
/*-----------------*/

figure.effect-hera h2 {
	font-size: 1.3em;
}

figure.effect-hera h2,
figure.effect-hera p {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
}

figure.effect-hera figcaption::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5em;
	height: 5em;
	border: 2px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
	transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
}

figure.effect-hera p {
	width: 100px;
	text-transform: none;
	font-size: 121%;
	line-height: 2;
}

figure.effect-hera p a {
	color: #fff;
}

figure.effect-hera p a:hover,
figure.effect-hera p a:focus {
	opacity: 0.6;
}

figure.effect-hera p a span {
	opacity: 0;
	font-size: 1.5em;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}


figure.effect-hera:hover figcaption::before {
	opacity: 1;
	-webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
	transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
}

figure.effect-hera:hover h2 {
	opacity: 0;
	-webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
	transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

figure.effect-hera:hover p span:empty {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0); /* just because it's stronger than nth-child */
	opacity: 1;
}

/******Speakers page***/

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v8/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
}



.card_container {
  width: 720px;
  height: 200px;
  position: relative;//absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font: bold 12pt Helvetica, Arial, sans-serif;
  z-index: 1;
  perspective: 1000;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

.card_container:hover .card {
  transform: rotateX(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #1CAFBF;
  color: #fff;
  border-radius: 8pt;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(7, 7, 7, 0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(7, 7, 7, 0.4);
  box-shadow: 0px 2px 10px 0px rgba(7, 7, 7, 0.4);
}
.face h1 {
  font-size: 40pt;
  font-weight: normal;
  text-align: center;
  margin: 120px;
}

.face.back {
  display: block;
  transform: rotateX(180deg);
  box-sizing: border-box;
}

.left {
  width: 275px;
  height: 300px;
  display: inline-block;
  background: url(http://harrisondempsey.com/sandbox/img/arrow.png) no-repeat center;
  border-radius: 9pt;
}
.left img {
  margin: 80px 62px;
}

.right {
  width: 410px;
  float: right;
  padding: 30px 0;
}
.right a {
  color: #fff;
  text-decoration: none;
}
