<?php

// database variables

$db_server = "";
$db_name = "";
$db_user = "";
$db_pass = "";

// database variables

require "instamojo.php";

// instamojo variables

$my_api_key = "";
$my_auth_token = "";

// instamojo variables

?>
